<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vue Live coding</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous" defer></script>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js" defer></script>
	<script src="js/script.js" defer></script>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<div class="container">
		<div id="root">
			<form @submit.prevent="addPerson">
				<label for="input-name">Nome</label>
				<input type="text" name="name" id="input-name" v-model="name">

				<label for="input-age">Age</label>
				<input type="number" name="age" id="input-age" v-model="age">

				<button>Aggiungi</button>
			</form>

			<h2>Ciclo su array di oggetti</h2>
			<div class="row g-4" >
				<div v-for="(obj, index) in arrObjs" :key="obj.name" class="col-6" @click="sayHi()">
					<!-- <div class="card" :class="{active: index === activeIndex}"> -->
					<div class="card" :class="index === activeIndex ? 'active' : ''">
						<h3>{{ obj.name }}</h3>
						<div>{{ obj.age }}</div>
					</div>
				</div>
			</div>
			<button @click="activeIndex++">Incrementa</button>

			<h2>Ciclo su array di stringhe</h2>
			<ol>
				<li v-for="(nome, index) in arrNames" :key="nome">
					{{ nome }} - {{ index }}
				</li>
			</ol>

			<h2>Ciclo numerico</h2>
			<ul>
				<li v-for="num in 10" :key="num">
					ciao - {{ num }}
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
